<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fresh.dao.PurchaseOrdersMapper">
  <resultMap id="BaseResultMap" type="com.fresh.bean.PurchaseOrders">
    <id column="PURCHASE_ID" jdbcType="DECIMAL" property="purchaseId" />
    <result column="PURCHASE_NAME" jdbcType="VARCHAR" property="purchaseName" />
    <result column="PURCHASE_ITEM" jdbcType="VARCHAR" property="purchaseItem" />
    <result column="PLACE_REQUIRE" jdbcType="VARCHAR" property="placeRequire" />
    <result column="SPECIFICATION" jdbcType="VARCHAR" property="specification" />
    <result column="RANK_REQUIRE" jdbcType="VARCHAR" property="rankRequire" />
    <result column="WAREHOUSE_REQUIRE" jdbcType="VARCHAR" property="warehouseRequire" />
    <result column="PERIOD_SPOT" jdbcType="VARCHAR" property="periodSpot" />
    <result column="UNITPRICE_REQUIRE" jdbcType="VARCHAR" property="unitpriceRequire" />
    <result column="PURCHASE_EXPLAIN" jdbcType="VARCHAR" property="purchaseExplain" />
    <result column="PAYMENT_METHOD" jdbcType="VARCHAR" property="paymentMethod" />
    <result column="INVOICE_TYPE" jdbcType="VARCHAR" property="invoiceType" />
    <result column="RECEIPT_ADDRESS" jdbcType="VARCHAR" property="receiptAddress" />
    <result column="LAST_DATE" jdbcType="DATE" property="lastDate" />
    <result column="MEMBER_ID" jdbcType="DECIMAL" property="memberId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PURCHASE_ID, PURCHASE_NAME, PURCHASE_ITEM, PLACE_REQUIRE, SPECIFICATION, RANK_REQUIRE, 
    WAREHOUSE_REQUIRE, PERIOD_SPOT, UNITPRICE_REQUIRE, PURCHASE_EXPLAIN, PAYMENT_METHOD, 
    INVOICE_TYPE, RECEIPT_ADDRESS, LAST_DATE, MEMBER_ID, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.fresh.bean.PurchaseOrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PURCHASE_ORDERS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PURCHASE_ORDERS
    where PURCHASE_ID = #{purchaseId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PURCHASE_ORDERS
    where PURCHASE_ID = #{purchaseId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.fresh.bean.PurchaseOrdersExample">
    delete from PURCHASE_ORDERS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fresh.bean.PurchaseOrders">
    insert into PURCHASE_ORDERS (PURCHASE_ID, PURCHASE_NAME, PURCHASE_ITEM, 
      PLACE_REQUIRE, SPECIFICATION, RANK_REQUIRE, 
      WAREHOUSE_REQUIRE, PERIOD_SPOT, UNITPRICE_REQUIRE, 
      PURCHASE_EXPLAIN, PAYMENT_METHOD, INVOICE_TYPE, 
      RECEIPT_ADDRESS, LAST_DATE, MEMBER_ID, 
      STATUS)
    values (#{purchaseId,jdbcType=DECIMAL}, #{purchaseName,jdbcType=VARCHAR}, #{purchaseItem,jdbcType=VARCHAR}, 
      #{placeRequire,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, #{rankRequire,jdbcType=VARCHAR}, 
      #{warehouseRequire,jdbcType=VARCHAR}, #{periodSpot,jdbcType=VARCHAR}, #{unitpriceRequire,jdbcType=VARCHAR}, 
      #{purchaseExplain,jdbcType=VARCHAR}, #{paymentMethod,jdbcType=VARCHAR}, #{invoiceType,jdbcType=VARCHAR}, 
      #{receiptAddress,jdbcType=VARCHAR}, #{lastDate,jdbcType=DATE}, #{memberId,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.fresh.bean.PurchaseOrders">
    insert into PURCHASE_ORDERS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="purchaseId != null">
        PURCHASE_ID,
      </if>
      <if test="purchaseName != null">
        PURCHASE_NAME,
      </if>
      <if test="purchaseItem != null">
        PURCHASE_ITEM,
      </if>
      <if test="placeRequire != null">
        PLACE_REQUIRE,
      </if>
      <if test="specification != null">
        SPECIFICATION,
      </if>
      <if test="rankRequire != null">
        RANK_REQUIRE,
      </if>
      <if test="warehouseRequire != null">
        WAREHOUSE_REQUIRE,
      </if>
      <if test="periodSpot != null">
        PERIOD_SPOT,
      </if>
      <if test="unitpriceRequire != null">
        UNITPRICE_REQUIRE,
      </if>
      <if test="purchaseExplain != null">
        PURCHASE_EXPLAIN,
      </if>
      <if test="paymentMethod != null">
        PAYMENT_METHOD,
      </if>
      <if test="invoiceType != null">
        INVOICE_TYPE,
      </if>
      <if test="receiptAddress != null">
        RECEIPT_ADDRESS,
      </if>
      <if test="lastDate != null">
        LAST_DATE,
      </if>
      <if test="memberId != null">
        MEMBER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="purchaseId != null">
        #{purchaseId,jdbcType=DECIMAL},
      </if>
      <if test="purchaseName != null">
        #{purchaseName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseItem != null">
        #{purchaseItem,jdbcType=VARCHAR},
      </if>
      <if test="placeRequire != null">
        #{placeRequire,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="rankRequire != null">
        #{rankRequire,jdbcType=VARCHAR},
      </if>
      <if test="warehouseRequire != null">
        #{warehouseRequire,jdbcType=VARCHAR},
      </if>
      <if test="periodSpot != null">
        #{periodSpot,jdbcType=VARCHAR},
      </if>
      <if test="unitpriceRequire != null">
        #{unitpriceRequire,jdbcType=VARCHAR},
      </if>
      <if test="purchaseExplain != null">
        #{purchaseExplain,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="receiptAddress != null">
        #{receiptAddress,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null">
        #{lastDate,jdbcType=DATE},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fresh.bean.PurchaseOrdersExample" resultType="java.lang.Long">
    select count(*) from PURCHASE_ORDERS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PURCHASE_ORDERS
    <set>
      <if test="record.purchaseId != null">
        PURCHASE_ID = #{record.purchaseId,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseName != null">
        PURCHASE_NAME = #{record.purchaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseItem != null">
        PURCHASE_ITEM = #{record.purchaseItem,jdbcType=VARCHAR},
      </if>
      <if test="record.placeRequire != null">
        PLACE_REQUIRE = #{record.placeRequire,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null">
        SPECIFICATION = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.rankRequire != null">
        RANK_REQUIRE = #{record.rankRequire,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseRequire != null">
        WAREHOUSE_REQUIRE = #{record.warehouseRequire,jdbcType=VARCHAR},
      </if>
      <if test="record.periodSpot != null">
        PERIOD_SPOT = #{record.periodSpot,jdbcType=VARCHAR},
      </if>
      <if test="record.unitpriceRequire != null">
        UNITPRICE_REQUIRE = #{record.unitpriceRequire,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseExplain != null">
        PURCHASE_EXPLAIN = #{record.purchaseExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentMethod != null">
        PAYMENT_METHOD = #{record.paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceType != null">
        INVOICE_TYPE = #{record.invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="record.receiptAddress != null">
        RECEIPT_ADDRESS = #{record.receiptAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.lastDate != null">
        LAST_DATE = #{record.lastDate,jdbcType=DATE},
      </if>
      <if test="record.memberId != null">
        MEMBER_ID = #{record.memberId,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PURCHASE_ORDERS
    set PURCHASE_ID = #{record.purchaseId,jdbcType=DECIMAL},
      PURCHASE_NAME = #{record.purchaseName,jdbcType=VARCHAR},
      PURCHASE_ITEM = #{record.purchaseItem,jdbcType=VARCHAR},
      PLACE_REQUIRE = #{record.placeRequire,jdbcType=VARCHAR},
      SPECIFICATION = #{record.specification,jdbcType=VARCHAR},
      RANK_REQUIRE = #{record.rankRequire,jdbcType=VARCHAR},
      WAREHOUSE_REQUIRE = #{record.warehouseRequire,jdbcType=VARCHAR},
      PERIOD_SPOT = #{record.periodSpot,jdbcType=VARCHAR},
      UNITPRICE_REQUIRE = #{record.unitpriceRequire,jdbcType=VARCHAR},
      PURCHASE_EXPLAIN = #{record.purchaseExplain,jdbcType=VARCHAR},
      PAYMENT_METHOD = #{record.paymentMethod,jdbcType=VARCHAR},
      INVOICE_TYPE = #{record.invoiceType,jdbcType=VARCHAR},
      RECEIPT_ADDRESS = #{record.receiptAddress,jdbcType=VARCHAR},
      LAST_DATE = #{record.lastDate,jdbcType=DATE},
      MEMBER_ID = #{record.memberId,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fresh.bean.PurchaseOrders">
    update PURCHASE_ORDERS
    <set>
      <if test="purchaseName != null">
        PURCHASE_NAME = #{purchaseName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseItem != null">
        PURCHASE_ITEM = #{purchaseItem,jdbcType=VARCHAR},
      </if>
      <if test="placeRequire != null">
        PLACE_REQUIRE = #{placeRequire,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        SPECIFICATION = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="rankRequire != null">
        RANK_REQUIRE = #{rankRequire,jdbcType=VARCHAR},
      </if>
      <if test="warehouseRequire != null">
        WAREHOUSE_REQUIRE = #{warehouseRequire,jdbcType=VARCHAR},
      </if>
      <if test="periodSpot != null">
        PERIOD_SPOT = #{periodSpot,jdbcType=VARCHAR},
      </if>
      <if test="unitpriceRequire != null">
        UNITPRICE_REQUIRE = #{unitpriceRequire,jdbcType=VARCHAR},
      </if>
      <if test="purchaseExplain != null">
        PURCHASE_EXPLAIN = #{purchaseExplain,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null">
        PAYMENT_METHOD = #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null">
        INVOICE_TYPE = #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="receiptAddress != null">
        RECEIPT_ADDRESS = #{receiptAddress,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null">
        LAST_DATE = #{lastDate,jdbcType=DATE},
      </if>
      <if test="memberId != null">
        MEMBER_ID = #{memberId,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where PURCHASE_ID = #{purchaseId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fresh.bean.PurchaseOrders">
    update PURCHASE_ORDERS
    set PURCHASE_NAME = #{purchaseName,jdbcType=VARCHAR},
      PURCHASE_ITEM = #{purchaseItem,jdbcType=VARCHAR},
      PLACE_REQUIRE = #{placeRequire,jdbcType=VARCHAR},
      SPECIFICATION = #{specification,jdbcType=VARCHAR},
      RANK_REQUIRE = #{rankRequire,jdbcType=VARCHAR},
      WAREHOUSE_REQUIRE = #{warehouseRequire,jdbcType=VARCHAR},
      PERIOD_SPOT = #{periodSpot,jdbcType=VARCHAR},
      UNITPRICE_REQUIRE = #{unitpriceRequire,jdbcType=VARCHAR},
      PURCHASE_EXPLAIN = #{purchaseExplain,jdbcType=VARCHAR},
      PAYMENT_METHOD = #{paymentMethod,jdbcType=VARCHAR},
      INVOICE_TYPE = #{invoiceType,jdbcType=VARCHAR},
      RECEIPT_ADDRESS = #{receiptAddress,jdbcType=VARCHAR},
      LAST_DATE = #{lastDate,jdbcType=DATE},
      MEMBER_ID = #{memberId,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL}
    where PURCHASE_ID = #{purchaseId,jdbcType=DECIMAL}
  </update>
</mapper>